.chat-input {
    padding: 20px;
    display: flex;

     &__smile-btn {
        margin-right: 7px;
        i.anticon {
            margin-top: 10px;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 55px;
        margin-left: 15px;
    }

    input {
        &:focus {
            box-shadow: none;
        }
    }
}