.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &__top {
        text-align: center;
        margin-bottom: 5px;
        h2 {
            font-size: 28px;
            line-height: 33px;
        }
        p {
            font-size: 16px;
            line-height: 21px;
            letter-spacing: 0.1px;
            opacity: 0.5;
        }
    }

    &__register-link {
        text-align: center;
        color: #adadad;
        display: block;
        letter-spacing: 0.1px;
    }

    &__success-block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 400px;

        h2 {
            margin-top: 20px;
        }
        svg {
            width: 40px;
            height: 40px;
        }
        p {
            font-size: 16px;
            letter-spacing: 0.1px;
            opacity: 0.5;
        }
    }

    button {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.1em;
        width: 100%;
    }

    .panel {
        width: 400px;
    }
}