.status {
    display: inline-block;
    color: #d4d4d4;
    position: relative;
    &::before {
        display: block;
        content: '';
        position: absolute;
        top: 5px;
        left: -12px;
        width: 6px;
        height: 6px;
        border-radius: 30px;
        background-color: #d3d3d3;
    }
    &--online {
        &::before {
            background-color: #00c980;
        }
    }
}